body{
    background-color:  Thistle;
    margin-top: 10%;
}


h1{
    margin: 2px;
    position: relative;
    top: -15px;
}

section{
    border: solid black 1px;
    margin-bottom: 20px;
    background-color: pink;
    width: 70%;
    box-shadow: 10px 5px 5px grey;
    height: 70px;
    position: relative;
}
 p{
    position: relative;
    bottom: 20px;
    margin: 10px;
    padding: 3px;
 
}
.button {
    background-color: red;
    margin: 10px;
    padding: 3px;
    width: 25px;
    border: solid red 1px;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
}
.button-2 {
    background-color: red;
    margin: 10px;
    padding: 3px;
    width: 25px;
    border: solid red 1px;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
}
.button-3 {
    background-color: red;
    margin: 10px;
    padding: 3px;
    width: 25px;
    border: solid red 1px;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
}
.button-4 {
    background-color: red;
    margin: 10px;
    padding: 3px;
    width: 25px;
    border: solid red 1px;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
}
.button-5 {
    background-color: red;
    margin: 10px;
    padding: 3px;
    width: 25px;
    border: solid red 1px;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    right: -20px;
}
.container{
    position: fixed;
    bottom: 20px;
    right: 2px;
    padding: 4px;
    margin: 1px;
    width: 250px;
    height: 160px;
    border: 1px solid grey;
    border-radius: 5%;
}
video{
    width: 90%;
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    margin: 2px;
    top: 5px;
}
.video{
    position: absolute;
    bottom: -9px;
    left: 20px;
}

