h1 {
    background-color: brown;
    color: white;
    border: 5px dotted green ;
}
h2 {
    background-color: greenyellow;
    color: black;
    border: solid 3px orangered;
}
h3{
    color: yellow;
    background-color: palevioletred;
    border: purple solid 4px;
}
p {
    color: slateblue;
    background-color: red;
    border: 6px dotted green;
}