
body{
    background-image: url('./images/hearties.jpeg');
    font-family: 'young serif';
    cursor: url('./img/cursor2.png'), auto;
    margin: 0.5em 10% 0 10%;
}



header{
    height: 25vh;
    margin: 10px;
    text-align: center;
}
h1 {
    text-align: center;
    border: dotted #FF8FAB 2px;
    padding: 2px;
    margin: 3px;
    font-size: 3rem;
}
.projects-a{
    border: solid #FF8FAB 1px;
    background-color: #FFC2D1;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
}
.contact-a {
    border: solid #FF8FAB 1px;
    background-color: #FFC2D1;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
    margin: 2px;
}
.projects-a:hover{
    border: solid 3px #FB6F92;
    background-color: #FF8FAB;
    cursor: url('./img/cursor2.png'), auto;
}
.contact-a:hover{
    border: solid 3px #FB6F92;
    background-color: #FF8FAB;
    cursor: url('./img/cursor2.png'), auto;
}
a:visited{
    color: #d6708a;
}
.vl {
    border: black 1px solid;
    height: 30px;
    text-align: center;
    margin: 3px;
    margin-right: 9px;
  }




article{
    background-color: #FB6F92;
    margin: 2px;
    padding: 5px;
    border: 2px solid ;
    border-radius: 10px;
}
article:hover{
    background-color: #d6708a;
    border: black solid 4px;
}
img {
    border-radius: 10%;
  }
figure{
    text-align: center;
  }
figcaption {
    text-align: center;
}




h2{
    text-align: center;
    border: solid #FF8FAB 2px;
    padding: 2px;
    margin: 6px;
}


.education {
    background-color: #d6708a;
    padding: 2px;
    margin: 2px;
    text-align: center;
    border: black solid 2px;
}
.education:hover{
    border: hotpink dotted 5px ;
}
ul{
    background-color: #FFC2D1;
    border: #d6708a dotted 3px;
}





.skills {
    background-color: #FFB3C6;
    padding: 2px;
    margin: 2px;
    height: 20vh;
    text-align: center;
    border: solid black 2px;
}
.skills:hover{
    border: hotpink dotted 5px ;
}
table{
    border-collapse: collapse;
    border: #FB6F92 1px solid;
    text-align: center;
    background-color: #FFC2D1;
    margin: 10px;
    margin-top: 20px;
}




.projects {
    padding: 5px;
    margin: 2px;
    background-color: #FF8FAB;
    border: solid black 2px;
}
.projects:hover{
    border: hotpink dotted 5px ;
}
.project-h2{
    margin: 10px;
    margin-bottom: 30px;
    border: #d6708a solid 2px;
}
ol{
    padding: 2px;
    margin: 20px;
}
.pr-links{
    padding: 2px;
    background-color: #FFC2D1;
    border: black solid 1px;
    border-radius: 10%;
    height: 5px;
}
.pr-links:hover{
    background-color: black;
    border: #FFC2D1 solid 3px;
    cursor: url('./img/cursor2.png'), auto;
}
.pr-1{
    position: relative;
    bottom: 20px;
    margin: 10px;
    margin-top: 10px;
}
.pr-2{
    position: relative;
    bottom: 10px;
    margin: 10px;
}
.pr-3{
    position: relative;
    bottom: 5px;
    margin: 10px;
}



footer{
    background-color: hotpink;
    border: solid 3px black;
    text-align: center;
}
