p {
    font-size: 20px;
    width: 500px;
    font-family: "Young Serif" ;
}
.span1 {
    font-size: 50px;
    font-weight: bold;
}

  .has-dropcap:first-letter {
    float: left;
    font-size: 100px;
    line-height: 1;
  }
  
  .dropcap {
    float: left;
    font-size: 100px;
    line-height: 1;
    margin: 10px 10px; 
    text-decoration: underline red;
  }
  
  .dropcap:after {
    display: block;
  }
  
  .dropcap::before{
    margin-top: -0.3em;
  }
  

 
  